a{
    text-decoration: none;
    color: #fff;
}
.head{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    position: fixed;
    z-index: 888; 
    color: #fff;
}
.logo{
    width: 250px;
    height: 40px;
    margin-top: 20px;
    z-index: 888;
}
.logo img{
    width: 100%;
    height: 100%;
}
.head:hover{
    background-color: #666;
}
.head:hover .nav a{
    color: #aaa;
}
.head:hover hr{
    border: 1px solid #aaa;
}
.gnb{
    width: 800px;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
li{
    list-style-type: none;
}
.gnb a{
    font-size: 28px;
    text-decoration: none;
    color: #fff;
}
.gnb .lnb a:hover{
    color: #d02c0f;
}
hr{
    position: absolute;
    top: 70px;
    right: 80px;
    width: 80%;
    border: 1px solid #fff;
}